<h1>Create a puppy!!</h1>
<form action="/dogs/create" method="post">
  <input type = "text" placeholder = "Name it!" name = "name" autofocus>
  <input type = "text" placeholder = "Breed?" name = "breed">

  <button>SHAPUPPY</button>
</form>
