<h1>Create a puppy!!</h1>
<form action="/dogs" method="post">
  <input type = "string" placeholder = "Name it!" name = "name" autofocus>
  <input type = "string" placeholder = "Breed" name = "breed">

  <button>SHAPUPPY</button>
</form>
